<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8" />
    <title>Paste It - {% block title%}{% endblock %}</title>
    <link href='http://fonts.googleapis.com/css?family=Quantico:700'rel='stylesheet' type='text/css' />
    <link type="text/css" rel="stylesheet" media="all" href="/static/css/normalize.css" />
    <link type="text/css" rel="stylesheet" media="all" href="/static/css/main.css" />
    <link type="text/css" rel="stylesheet" media="all" href="/static/css/pygments_style.css" />
  </head>

  <body>

    <header id="header" class="box">
      <a href="/">Paste IT</a>
      <p id="subtitle">A private paste bin service</p>
    </header>

    <div id="content" class="box">
      {% block content %}{% endblock %}
    </div>

    <footer id="footer">
      <nav><a href="/about">About</a> <a href="/api">API</a></nav>
    </footer>

  </body>

</html>
