@font-face {
    font-family: Quantico;
    src: url('/static/fonts/quantico.ttf');
}

body {
    background: #7f766b;
    font-family: Verdana, Helvetica, sans-serif;
    line-height: 1.6em;
    margin: 0 auto;
    width: 95%;
}

fieldset {
    border: 1px solid red;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Quantico', Helvetica, sans-serif;
    font-weight: normal;
}

optgroup {
    background: #444;
    color: #f7f7f7;
    font-size: 90%;
    padding: 0.1em 0.2em;
}

option {
    background: #f7f7f7;
    color: #000;
    font-size: 90%;
    margin: 0 -0.2em;
}

#header {
    background: #a5203b;
    color: #f7f7f7;
    font-family: 'Quantico', Helvetica, sans-serif;
    font-size: 120%;
    margin: 0 0 1em 0;
}

#header a {
    color: #fefefe;
}

#subtitle {
    font-family: Verdana, Helvetica, sans-serif;
    font-size: 70%;
    margin: 0 0 0 2em;
}

#header a {
    text-decoration: none;
}

#nav, #toolbar, #output  {
    margin-bottom: 1em;
}

#nav a, .button, .button a {
    background: #FFEEE7;
    border: 1px solid #B5C0CF;
    color: #000000;
    display: inline-table;
    font-size: 13px;
    height: 26px;
    line-height: 24px;
    padding: 0em 0.5em;
    text-align: center;
    text-decoration: none;
    width: 7em;
    /*vertical-align:middle;*/
/*padding-bottom: 2px;*/
    border-radius: 0.4em;
    -moz-border-radius: 0.4em;
    -webkit-border-radius: 0.4em;
    -khtml-border-radius: 0.4em;
}

#nav a:hover, .button:hover, .button a:hover {
    background: none repeat scroll 0 0 #A5203B;
    border: 1px solid #111111;
    color: #FFFFFF;
}

#toolbar {
    font-size: 1.2em;
    vertical-align:middle;
}

select {
    background: #fff;
    border: 1px solid #B5C0CF;
    font-size: 16px;
    height: 26px;
    line-height: 24px;
    padding: 0;
    width: 200px;

    border-radius: 0.4em;
    -moz-border-radius: 0.4em;
    -webkit-border-radius: 0.4em;
    -khtml-border-radius: 0.4em;
}

#input textarea {
    border: 0;
    background: transparent;
    font-family: monospace;
    font-size: 90%;
    height: 500px;
    line-height: 1.5em;
    width: 100%;
}

#input textarea:focus {
  border: none;
}

#content, #input, #output{
    background: #ffffff;
    border-radius: 1em;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    -khtml-border-radius: 1em;
    padding: 1em;
}

#content {
    background: #eeebe7;
}
#output {
  overflow: auto;
}

#output ol {
    background: #e5e5e5;   
    color: red;
    font-family: monospace;
    font-size: 90%;
    line-height: 1.5em;
    margin: 0;
}

#output ol li {
    border-left: 2px solid #fff;
    padding: 0 0.3em ;
    white-space: 0;
}

#output ol li div {
    position: relative;
}

#footer {
    clear: both;
    margin: 2em;
    font-size: 90%;
    text-align: center;
    
}

#footer nav a {
    color: #fff;
    margin: 0 1em 0 0;
    text-decoration: none;
}

.box {
    border-radius: 0 0 1em 1em;
    -moz-border-radius: 0 0 1em 1em;
    -webkit-border-radius: 0 0 1em 1em;
    -khtml-border-radius: 0 0 1em 1em;
    box-shadow: 2px 2px 5px #333;
    -moz-box-shadow: 2px 2px 5px #333;
    -webkit-box-shadow: 2px 2px 5px #333;
    -khtml-border-shadow: 2px 2px 5px #333;
    padding: 1em;
}

.row1 {
    background: #f7f7f7;
    color: #000;
}

.row2 {
    background: #f0f0f0;
    color: #000;
}

.code {
    background: #e5e5e5;
    border-radius: 0.4em;
    -moz-border-radius: 0.4em;
    -webkit-border-radius: 0.4em;
    -khtml-border-radius: 0.4em;
    box-shadow: 2px 1px 1px #999;
    -moz-box-shadow: 2px 1px 1px #999;
    -webkit-box-shadow: 2px 1px 1px #999;
    -khtml-border-shadow: 2px 1px 1px #999;
    margin: 1em;
    padding: 1em 1em 1em 1em;

}

.anchor {
    margin: 0;
    padding: 0;
    display:none;
}
